In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [2]:
d=pd.read_csv("/content/drive/MyDrive/Datasets/creditcard.csv")

In [3]:
d.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
d.shape

(284807, 31)

In [5]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [6]:
d.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,1.168375e-15,3.416908e-16,-1.379537e-15,2.074095e-15,9.604066e-16,1.487313e-15,-5.556467e-16,1.213481e-16,-2.406331e-15,...,1.654067e-16,-3.568593e-16,2.578648e-16,4.473266e-15,5.340915e-16,1.683437e-15,-3.660091e-16,-1.227390e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [7]:
d['Class'].value_counts()
#here we can see that there are wayyy too many classifications of 0 in this data thus it is wayy more likely to classify an enty inot class 0 htan 1

0    284315
1       492
Name: Class, dtype: int64

Thus this data is highly unbalanced

label 1=>fraudulant transaction

label 0=>normal transaction

In [8]:
# we seperate the class 0 from the class 1
legit=d[d.Class==0]
fraud=d[d.Class==1]

In [9]:
legit.shape

(284315, 31)

In [10]:
fraud.shape

(492, 31)

In [11]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [12]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [13]:
d.groupby("Class").mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

#Building a sample data set with 492 legit values and 492 fraud values to make a good dataset

In [14]:
legit_sample=legit.sample(n=492)

#concatinate the samples

In [15]:
new_d=pd.concat([legit_sample,fraud],axis=0)
new_d.shape

(984, 31)

In [16]:
new_d.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
27850,34733.0,0.137023,-2.027368,-0.750829,0.533548,-0.953187,-0.432748,0.723326,-0.149296,0.255227,...,0.275684,-0.538610,-0.634685,0.075358,0.273819,1.037145,-0.223509,0.077823,594.96,0
37097,38805.0,-0.812982,-0.364265,2.708558,-1.910680,-1.091747,-0.628724,0.324758,-0.241589,-0.210939,...,-0.135968,0.249129,-0.139072,0.719898,0.490654,-0.561588,-0.065025,-0.129487,90.96,0
125927,77866.0,-0.517416,0.313686,1.537756,-1.558396,0.700028,1.288011,0.271898,0.507856,0.038740,...,0.010926,0.338478,0.066529,-0.989922,-0.638208,0.806935,0.075750,-0.181417,7.68,0
194757,130746.0,-0.755024,-0.349783,1.809383,-1.998107,-0.215220,-0.155462,-0.319260,0.257476,-1.028064,...,0.372152,0.844561,-0.446504,-0.393244,0.611633,0.058620,0.014121,0.041928,19.95,0
203583,134876.0,2.031390,-0.124766,-0.912661,0.527122,-0.454803,-1.483329,0.114063,-0.295180,0.690926,...,-0.274968,-0.717972,0.406321,0.427527,-0.394582,0.173710,-0.077914,-0.058157,1.98,0

In [17]:
new_d.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [18]:
new_d["Class"].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [19]:
new_d.groupby("Class").mean()
#this step is v v imp 
#it helps us to figure out if out random selection is good since the values we get here should be close to the values we got on the entire dataset

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94796.128049,-0.001404,0.037909,-0.019055,0.012350,0.068256,-0.001534,-0.037417,0.069716,-0.041250,...,-0.010229,0.001414,0.059169,0.005430,0.000216,0.048237,-0.028698,0.018555,-0.002753,77.728618
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [20]:
X=new_d.drop(columns="Class",axis=1)
Y=new_d["Class"]

In [21]:
trainx,testx,trainy,testy=train_test_split(X,Y,random_state=2,test_size=0.2,stratify=Y)

In [22]:
#Logistic Regression
m1=LogisticRegression()

In [23]:
m1.fit(trainx,trainy)

LogisticRegression()

#Accuracy Score using Logistic Regression

In [24]:
predict_train1=m1.predict(trainx)
print("Accuracy Score of training data with Logistic Regression: ",accuracy_score(trainy,predict_train1))

predict_test1=m1.predict(testx)
print("Accuracy Score of testing data with Logistic Regression: ",accuracy_score(testy,predict_test1))

Accuracy Score of training data with Logistic Regression:  0.9148665819567979
Accuracy Score of testing data with Logistic Regression:  0.8984771573604061

In [25]:
#RandomForestClassifier

m2=RandomForestClassifier()

In [26]:
m2.fit(trainx,trainy)

RandomForestClassifier()

#Accuracy Score using RandomForestClassfier

In [27]:
predict_train2=m2.predict(trainx)
print("Accuracy Score of training data with RandomForestClassifier: ",accuracy_score(trainy,predict_train2))

predict_test2=m2.predict(testx)
print("Accuracy Score of testing data with RandomForestClassifier: ",accuracy_score(testy,predict_test2))

Accuracy Score of training data with RandomForestClassifier:  1.0
Accuracy Score of testing data with RandomForestClassifier:  0.9187817258883249

#Prediction System

In [29]:
input=(np.asarray((2,-1.15823309349523,0.877736754848451,1.548717846511,0.403033933955121,-0.407193377311653,0.0959214624684256,0.592940745385545,-0.270532677192282,0.817739308235294,0.753074431976354,-0.822842877946363,0.53819555014995,1.3458515932154,-1.11966983471731,0.175121130008994,-0.451449182813529,-0.237033239362776,-0.0381947870352842,0.803486924960175,0.408542360392758,-0.00943069713232919,0.79827849458971,-0.137458079619063,0.141266983824769,-0.206009587619756,0.502292224181569,0.219422229513348,0.215153147499206,69.99))).reshape(1,-1)
if(m2.predict(input)):
  print("Fraudulant statement")
else:
  print("Legitimate Stetement")

Legitimate Stetement

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [30]:
input=(np.asarray((47545,1.17671575912859,0.557090903443645,-0.490799622910899,0.756424293386678,0.2491915585394,-0.781870546568533,0.228750322026116,-0.0408400791377636,-0.432110564245139,-0.585778431385528,2.28193937592012,0.654566719272309,-0.310379432324912,-1.04370522504569,0.513750399321109,0.399177755263914,1.14313007770305,0.256013886486252,-0.511210088142662,-0.10277180482264,-0.0621660000083396,-0.128168129786567,-0.0401759895545737,0.110040347467026,0.437891432381746,0.368808854483266,-0.0182873480981415,0.0311734033163997,0.76))).reshape(1,-1)
if(m2.predict(input)):
  print("Fraudulant statement")
else:
  print("Legitimate Stetement")

Fraudulant statement

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(